<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.halodoc">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".List_all_layanan"
            android:parentActivityName=".BuatJanjiRS"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".RiwayatTransaksi"
            android:parentActivityName=".BuatJanjiRS"
            android:theme="@style/AppTheme" />
        <activity android:name=".SearchRs"
            android:windowSoftInputMode="adjustResize"
            /> <!-- Start Sherly -->
        <activity android:name=".Address_tokes" />
        <activity android:name=".Filter_berdasarkan_spesialis" />
        <activity android:name=".Filter_berdasarkan" />
        <activity
            android:name=".Lihat_semua_dokter_filter_spesialis"
            android:parentActivityName=".Lihat_semua_dokter_spesialis"
            android:theme="@style/AppTheme" />
        <activity android:name=".Detail_dokter_spesialis"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".Lihat_semua_dokter_spesialis"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Kategori_produk_utama"
            android:parentActivityName=".toko_kesehatan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Search_tokes"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Search_dokter"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Login_OTP"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Keranjang_tokes"
            android:parentActivityName=".Detail_produk_tokes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pembayaran_tokes"
            android:parentActivityName=".Keranjang_tokes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Detail_produk_tokes"
            android:parentActivityName=".Kategori_Produk"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Kategori_Produk"
            android:parentActivityName=".toko_kesehatan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Lihat_dokter_spesialisasi"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Lihat_semua_dokter_filter"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Pembayaran_dokter"
            android:parentActivityName=".Detail_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Detail_dokter"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lihat_semua_tokes"
            android:parentActivityName=".toko_kesehatan"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".toko_kesehatan"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lihat_semua_dokter"
            android:parentActivityName=".chat_dengan_dokter"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".chat_dengan_dokter"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" /> <!-- End Sherly -->
        <activity android:name=".all_layanan" />
        <activity
            android:name=".ListSemuaLayanan"
            android:theme="@style/AppTheme"
            android:parentActivityName=".List_all_layanan" />
        <activity android:name=".Pembayaran" />
        <activity android:name=".Detail_pasien"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity android:name=".Pilih_pasien" />
        <activity android:name=".Jadwal_janji" />
        <activity android:name=".LengkapiProfil" />
        <activity android:name=".ListLayanan" />
        <activity
            android:name=".LihatSemuaRS"
            android:parentActivityName=".BuatJanjiRS"
            android:theme="@style/AppTheme" />
        <activity android:name=".Layanan_rs" />
        <activity
            android:name=".BuatJanjiRS"
            android:parentActivityName=".BerandaFragmentNew"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Lihat_semua_artikel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".CobaMain"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Artikel_detail" />
    </application>

</manifest>